<app-navbar></app-navbar>
<main class="container_background">
    <div class="container">
        <section class="row">
            <div class="col-lg-12">
                <div class="welcome_wrapper" *ngIf="null">
                    <img src="assets/images/logo-only.png" class="logo" alt="logo">
                    <div class="title_lg">¡Bienvenid@ a Pictopeer {{ null }}!</div>
                    <div class="text_container">
                        <div class="text">Pictopeer es una red social para publicar
                            imágenes y conectar con tus amigos.</div>
                        <div class="text">Aquí tienes algunas publicaciones
                            recomendadas.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <aside class="col-lg-3">
                <suggestions-aside></suggestions-aside>
            </aside>
            <section class="posts col-lg-9">
                <post-card></post-card>
                <post-card></post-card>
                <post-card></post-card>
            </section>
        </section>
    </div>
</main>