<app-navbar></app-navbar>
<main class="container_background" *ngIf="userService.user$ | async as user">
    <div class="container">
        <section class="row" *ngIf="user.newUser">
            <div class="col-lg-12">
                <div class="welcome_wrapper">
                    <img src="assets/images/logo-only.png" class="logo" alt="logo">
                    <div class="title_lg">¡Bienvenid@ a Pictopeer {{ user.alias }}!</div>
                    <div class="text_container">
                        <div class="text">Pictopeer es una red social para publicar
                            imágenes y conectar con tus amigos.</div>
                        <div class="text">Aquí tienes algunas publicaciones
                            recomendadas.</div>
                    </div>
                </div>
            </div>
        </section>
        <section infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
            class="row">
            <aside class="col-lg-3">
                <suggestions-aside></suggestions-aside>
            </aside>
            <section class="posts col-lg-9" [class]="{'welcome_margin' : user.newUser}">
                <post-card *ngFor="let post of posts" [post]="post" (onlike)="sendLike($event)"></post-card>
            </section>
        </section>
    </div>
</main>