<app-navbar [user]="user"></app-navbar>
<main class="container_background">
    <div class="container" *ngIf="user">
        <div class="row" *ngIf="user.newUser">
            <div class="col-lg-12">
                <div class="welcome_wrapper">
                    <img [src]="images.LOGO_ONLY" class="logo" alt="logo">
                    <div class="title_lg">¡Bienvenid@ a Pictopeer {{ user.alias }}!</div>
                    <div class="text_container">
                        <div class="text">Pictopeer es una red social para publicar
                            imágenes y conectar con tus amigos.</div>
                        <div class="text">Aquí tienes algunas publicaciones
                            recomendadas.</div>
                    </div>
                </div>
            </div>
        </div>
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
            class="row">
            <aside class="col-lg-3 col-md-8 col-sm-8">
                <app-suggestions-aside [user]="user"></app-suggestions-aside>
            </aside>
            <div class="posts col-lg-9" [class]="{'welcome_margin' : user.newUser}">
                <app-post-card *ngFor="let post of posts" [post]="post"></app-post-card>
            </div>
        </div>
    </div>
</main>