@import 'src/app/styles/mixins';
@import 'src/app/styles/shared-styles';

.post_wrapper {
  @include card;
  @include image_text_margin;
  margin-bottom: 3em;

  .header {
    display: flex;
    align-items: center;

    .profile_link {
      margin-top: 6px;
    }
  }

  .image_post {
    max-width: 100%;
  }

  .top_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: $text_color;
  }

  .like_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon.like {
      background-image: url('src/assets/icons/like.svg');
    }

    .icon.not_like {
      background-image: url('src/assets/icons/not-like.svg');
    }

    .icon {
      width: 40px;
      height: 40px;
      display: inline-block;
      cursor: pointer;
    }
  }

  .tags_wrapper {
    margin-top: 1em;

    .tag {
      margin-right: 0.6em;
    }
  }
}
