@import "compass";

$color_1: #002D42;
$color_2: #FFFFFF;
$font_text: "Roboto", sans-serif;

body {
  margin: 0;
}

.welcome_component_wrapper {
    font-family: $font_text;
    height: 100vh;
    background-color: $color_1;
    position: relative;
    color: $color_2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;

    .content_wrapper {
      width: 250px;
      text-align: center;

      .logo {
        width: 65px;
      }

      .title {
        font-size: 21px;
        letter-spacing: 1.16px;
        font-weight: bold;
        margin-top: 30px;
      }

      .text {
        font-size: 15px;
        letter-spacing: 0.82px;
        margin-top: 20px;
      }

      .subtitle {
        font-size: 27px;
        letter-spacing: 1.54px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 14px;
      }
    }
}