@import "compass";

$text_color: #333333;
$color_1: #3BC6F4;

@mixin card {
    width: 100%;
    border: 1px solid rgba(87, 87, 87, 0.192);
    @include border-radius(4px);
    color: $text_color;

    .title {
        font-family: 'Open Sans', sans-serif;
    }

    .title_lg {
        font-size: 30px;
    }

    .title_md {
        font-size: 22px;
    }

    .text {
        font-family: 'Roboto', sans-serif;
    }

    .header, .footer {
        background-color: rgb(245, 245, 245);
    }

    .header, .content, .footer {
        padding: 0.8em;
    }
}

@mixin image_text_margin {
    img {
        margin-right: 1em;
    }

    .icon {
        margin-right: 1em;
    }
}

.bold {
    font-weight: bold;
}

.profile_img {
    @include border-radius(50%);
}

.img_lg {
    width: 60px;
    height: 60px;
}

.img_md {
    width: 40px;
    height: 40px;
}

.title_sm {
    width: 30px;
    height: 30px;
}

.welcome_wrapper {
    @include card;
    margin-top: 5.2em;
    text-align: center;
    padding: 1em 0;

    .logo {
        width: 110px;
        height: 70px;
    }

    .title {
        margin-top: 0.2em;
        font-weight: 600;
    }

    .text_container {
        margin-top: 1em;
    }
}

.profile_home_wrapper {
    @include card;
    @include image_text_margin;
    margin-top: 1.6em;
    position: sticky;
    top: 80px;
    z-index: 1020;

    .header {
        display: flex;
        justify-content: center;

        .wrapper {
            display: inline-block;
            width: 10em;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    a {
        text-decoration: none;
        color: $color_1;
    }

    .content {
        text-align: center;
    }

    .suggestion {
        margin-top: 1em;

        &:last-child {
            margin-bottom: 0.2em;
        }
    }
}

.post_wrapper {
    @include card;
    @include image_text_margin;
    margin-bottom: 3em;
    margin-top: 1.6em;

    .header {
        display: flex; 
        align-items: center;

        .profile_link {
            margin-top: 6px;
        }
    }

    .image_post {
        max-width: 100%
    }

    .top_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    a {
        color: $text_color;
    }

    .like_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon.like {
            background-image: url('../images/like.svg');
            width: 40px; 
            height: 40px; 
            display: inline-block;
        }

        .icon.not_like {
            background-image: url('../images/not-like.svg');
            width: 40px; 
            height: 40px; 
            display: inline-block;
        }
    }

    .tags_wrapper {
        margin-top: 1em;

        .tag {
            margin-right: 0.6em;
        }
    }
}