@import 'src/app/styles/shared-styles';

.ng-autocomplete {
  width: 300px;

  ::ng-deep input {
    font-family: $font_text;
    font-size: 16px !important;
  }
}

.item_li {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
