<form class="form" [formGroup]="form" (ngSubmit)="login()">
    <div class="inputs_wrapper">
        <div class="group_input">
            <label class="form_label" for="email">Email</label>
            <input class="form_input" type="email" id="email" name="email" placeholder="Introduce email" autofocus
                formControlName="email">
        </div>
        <div class="group_input">
            <label class="form_label" for="password">Contraseña</label>
            <input class="form_input" type="password" id="password" name="password" placeholder="Introduce contraseña"
                formControlName="password">
        </div>
    </div>
    <button type="submit" class="form_btn primary_btn" [disabled]="!form.valid">
        Iniciar sesión
    </button>
    <button href="ads" class="form_btn secondary_btn">
        ¿Contraseña olvidada?
    </button>
    <hr class="line">
    <div class="sign_text bold">Si no tienes cuenta puedes <a href="asd" class="bottom">registrarte</a>
    </div>
</form>