<app-navbar [user]="user"></app-navbar>
<main class="container_background">
    <div class="container" *ngIf="user">
        <div class="row d_flex_center">
            <div class="col-md-8 center">
                <div class="content">
                    <div class="title">Crear nueva publicacion</div>
                    <button (click)="publish(hashtags.value)" type="button" [disabled]="!imagePreview||isPostUploading"
                        class="btn btn-primary btn_publish ">Publicar</button>
                    <div class="spinner" *ngIf="isPostUploading">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>
                    <div class="alert alert-success mt-3" role="alert" [class]="{'invisible' : !succesMessage}">
                        Publicación creada correctamente
                    </div>
                    <label for="hashtags">Introduce los hashtags separados por un espacio</label>
                    <input #hashtags name="hashtags" type="text" class="input_hashtags">
                    <div class="drag">
                        <ngx-file-drop multiple="false" dropZoneClassName="drop_zone"
                            dropZoneLabel="Arrastra aquí la imagen" (onFileDrop)="dropped($event)">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <button type="button" (click)="openFileSelector()"
                                    class="btn btn-dark btn_select">Selecciona
                                    imagen</button>
                                <p *ngIf="!imagePreview">O arrastrala aquí.</p>
                                <div *ngIf="imagePreview" class="image_wrapper">
                                    <img [src]="imagePreview">
                                </div>
                            </ng-template>
                        </ngx-file-drop>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>