<article class="post_wrapper">
    <div class="header" *ngIf="!isProfileCard">
        <img class="profile_img img_lg" [src]="post.photoProfileUrl" alt="Foto de perfil">
        <a class="profile_link title_sm bold" [routerLink]="['/profile/', post.alias]">{{ post.alias }}</a>
    </div>
    <div class="body">
        <img class="image_post" [src]="post.photoUrl">
    </div>
    <div class="footer">
        <div class="top_wrapper">
            <span class="like_wrapper">
                <span class="icon" [class]="{'like' : post.postLiked, 'dislike' : !post.postLiked}"
                    (click)="sendLike()"></span>
                {{ post.likeCount }} Me gusta
            </span>
            <span>
                {{ post.date }}
            </span>
        </div>
        <div class="tags_wrapper" *ngIf="post.hashtags.length > 0">
            <span class="tag" *ngFor="let hashtag of post.hashtags">
                <span class="bold">
                    {{ hashtag.name }}
                </span>
            </span>
        </div>
    </div>
</article>