.navbar {
  .logo {
    width: 60px;
  }

  .profile_img {
    height: 40px;
    width: 40px;
  }

  .dropdown h5 {
    font-weight: bold;
  }

  .notifications:focus {
    box-shadow: none;
  }

  .dropdown-item {
    cursor: pointer;
  }
}
