.navbar {
  .logo {
    width: 60px;
  }

  .profile_img {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .dropdown h5 {
    font-weight: bold;
  }

  .notifications:focus {
    box-shadow: none;
  }

  .dropdown-item,
  .btn_friend_request {
    cursor: pointer;
  }

  .btn_friend_request:hover {
    text-decoration: underline;
  }

  .dropdown-header {
    text-align: center;
  }
}
