@import 'src/app/styles/mixins';
@import 'src/app/styles/shared-styles';

.aside_suggestions_wrapper {
  @include card;
  @include image_text_margin;
  margin-top: 1.2em;
  position: sticky;
  top: 80px;
  z-index: 1020;
  background-color: $color_2;

  .header {
    display: flex;
    justify-content: center;

    .wrapper {
      display: inline-block;
      width: 10em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  a {
    text-decoration: none;
    color: $color_1;
  }

  .content {
    text-align: center;
  }

  .suggestions_title {
    text-align: center;
  }

  .image_link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile {
    width: 120px;
  }

  .suggestions {
    margin-top: 2em;
  }

  .suggestion {
    margin-top: 1em;

    &:last-child {
      margin-bottom: 0.2em;
    }
  }
}
