nav {
    background-color:#2C82C8;
}

.navbar-brand img {
    width: 60px;
    height: auto;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #212529;
}

.photo-nav {
    height: 40px;
    width: 40px;
}

.notifications:focus {
    box-shadow: none;
}

.dropdown h5 {
    font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    color: #3BC6F4;
}
