<main class="container">
    <section class="row">
        <div class="welcome_wrapper">
            <img src="images/logo-only.png"
                    class="logo" alt="logo">
            <div class="title_lg">¡Bienvenid@ a Pictopeer!</div>
            <div class="text_container">
                <div class="text">Pictopeer es una red social para publicar
                    imágenes y conectar con tus amigos.</div>
                <div class="text">Aquí tienes algunas publicaciones
                    recomendadas.</div>
            </div>
        </div>
    </section>
</main>