/* line 7, ../sass/styles.scss */
body {
  margin: 0;
}

/* line 11, ../sass/styles.scss */
.welcome_component_wrapper {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #002D42;
  position: relative;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .9;
}
/* line 22, ../sass/styles.scss */
.welcome_component_wrapper .content_wrapper {
  width: 250px;
  text-align: center;
}
/* line 26, ../sass/styles.scss */
.welcome_component_wrapper .content_wrapper .logo {
  width: 65px;
}
/* line 30, ../sass/styles.scss */
.welcome_component_wrapper .content_wrapper .title {
  font-size: 21px;
  letter-spacing: 1.16px;
  font-weight: bold;
  margin-top: 30px;
}
/* line 37, ../sass/styles.scss */
.welcome_component_wrapper .content_wrapper .text {
  font-size: 15px;
  letter-spacing: 0.82px;
  margin-top: 20px;
}
/* line 43, ../sass/styles.scss */
.welcome_component_wrapper .content_wrapper .subtitle {
  font-size: 27px;
  letter-spacing: 1.54px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 14px;
}
