@import 'src/app/styles/shared-styles';

.navbar {
  font-family: $font_text;

  .logo {
    width: 60px;
  }

  .profile_img {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .dropdown h5 {
    font-weight: bold;
  }

  .notifications:focus {
    box-shadow: none;
  }

  .dropdown-header {
    text-align: center;
  }

  .dropdown-item {
    cursor: pointer;
  }

  .dropdown-item:focus {
    outline: none;
  }
}
