<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="[routes.HOME]">
            <img class="logo" [src]="images.LOGO_ONLY" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto float-left">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="[routes.HOME]">Inicio</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="[routes.PROFILE]">Perfil</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="[routes.FRIENDS]">Amigos</a>
                </li>
                <li class="nav-item mr-5" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="[routes.PUBLISH]">Publicar</a>
                </li>
                <li class="nav-item">
                    <app-user-search></app-user-search>
                </li>
            </ul>
            <div class="d-flex justify-content-center" *ngIf="user">
                <div>
                    <button (click)="user.newLikesReceived.length !== 0 && notifyNewLikesViewed()"
                        (click)="notificationsIsToggle = !notificationsIsToggle" type="button"
                        class="btn btn-sm btn-secondary notifications mt-1">
                        Notificaciones <span id="notify-number" class="badge badge-light">{{user.friendRequests.length +
                            user.newLikesReceived.length}}</span>
                    </button>
                    <div class="dropdown">
                        <div class="dropdown-menu dropdown-menu-right"
                            [style.display]="notificationsIsToggle ? 'block' : 'none'">
                            <h5 class="dropdown-header"
                                *ngIf="user.friendRequests.length === 0 && user.newLikesReceived.length === 0">
                                Sin
                                notificaciones</h5>
                            <h5 class="dropdown-header" *ngIf="user.friendRequests.length !== 0">Solicitudes de
                                amistad
                            </h5>
                            <app-notification-friend-request *ngFor="let friendRequest of user.friendRequests"
                                [friendRequest]="friendRequest" (onUpdateFriendRequest)="updateFriendRequest($event)">
                            </app-notification-friend-request>
                            <div class="dropdown-divider"
                                *ngIf="user.newLikesReceived.length !== 0 && user.friendRequests.length !== 0">
                            </div>
                            <h5 class="dropdown-header" *ngIf="user.newLikesReceived.length !== 0">¡Has recibido
                                nuevos me gusta!
                            </h5>
                            <div *ngFor="let newLikeReceived of user.newLikesReceived" class="friendRequest">
                                <div class="dropdown-divider"></div>
                                <div class="mx-4">
                                    <h6>A {{ newLikeReceived.alias }} le ha gustado tu publicación</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <span href="#" (click)="profileImageIsToggle = !profileImageIsToggle">
                        <img [src]="user.photoProfileUrl" alt="Foto de perfil" class="profile_img rounded-circle ml-2">
                    </span>
                    <div class="dropdown">
                        <div class="dropdown-menu dropdown-menu-right"
                            [style.display]="profileImageIsToggle ? 'block' : 'none'">
                            <h5 class="dropdown-header d-flex justify-content-center">
                                {{ user.alias }}</h5>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-item" [routerLink]="[routes.PROFILE]">Perfil</span>
                            <div class="dropdown-divider"></div>
                            <span (click)="logout()" class="dropdown-item" id="a-sign-out">Cerrar
                                sesión</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>