<app-navbar [user]="user"></app-navbar>
<main class="container_background">
    <div class="container" *ngIf="user">
        <div class="row info_wrapper d_flex_center" *ngIf="user.newUser">
            <div class="col-md-6">
                <div class="alert alert-info text-center" role="alert">
                    Para cambiar la foto de perfil pulsa sobre ella.
                </div>
            </div>
        </div>
        <div class="row d_flex_center">
            <div class="col-md-12">
                <div class="profile_card" [class]="{'info_margin' : user.newUser}">
                    <div class="d_flex_center">
                        <span class="img_profile_text" aria-label="Cambiar foto" (click)="fileUpload.click()">
                            <div class="profile_pic"
                                [ngStyle]="{'background-image': 'url(' + user.photoProfileUrl + ')'}">
                                <span *ngIf="isImageUploading">Cambiar foto</span>
                                <div class="spinner" *ngIf="!isImageUploading">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <input type="file" #fileUpload hidden (change)="onFileSelected($event)" />
                    </div>
                    <h5 class="profile_alias d_flex_center">{{user.alias}}
                    </h5>
                    <div class="profile_stats d_flex_around">
                        <div class="text_center">
                            <span class="bold">{{user.friends.length}}</span>
                            <span class="stat">Amigos</span>
                        </div>
                        <div class="text_center">
                            <span class="bold">{{user.posts.length}}</span>
                            <span class="stat">Publicaciones</span>
                        </div>
                        <div class="text_center">
                            <span class="bold">{{user.likesReceivedCount}}</span>
                            <span class="stat">Me gusta</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d_flex_center">
            <div class="col-md-10">
                <div class="posts_wrapper">
                    <div class="image_wrapper" *ngFor="let post of user.posts">
                        <app-post-card [post]="post" [isProfileCard]="true"></app-post-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>