<app-navbar></app-navbar>
<main class="container_background">
    <div class="container" *ngIf="user">
        <div class="row info_wrapper d_flex_center" *ngIf="user.newUser">
            <div class="col-md-6">
                <div class="alert alert-info text-center" role="alert">
                    Para cambiar la foto de perfil pulsa sobre ella.
                </div>
            </div>
        </div>
        <div class="row d_flex_center">
            <div class="col-md-12">
                <div class="profile_card" [class]="{'info_margin' : user.newUser}">
                    <div class="d_flex_center">
                        <a href="#" aria-label="Cambiar foto">
                            <div class="profile_pic"
                                [ngStyle]="{'background-image': 'url(' + user.photoProfileUrl + ')'}">
                                <span>Cambiar foto</span>
                            </div>
                        </a>
                        <input type="file" hidden />
                    </div>
                    <h5 class="profile_alias d_flex_center">{{user.alias}}
                    </h5>
                    <div class="profile_stats d_flex_around">
                        <div class="text_center">
                            <span class="bold">54</span>
                            <span class="stat">Amigos</span>
                        </div>
                        <div class="text_center">
                            <span class="bold">55</span>
                            <span class="stat">Publicaciones</span>
                        </div>
                        <div class="text_center">
                            <span class="bold">40</span>
                            <span class="stat">Me gusta</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d_flex_center">
            <div class="col-md-10">
                <div class="posts_wrapper">
                    <div class="image_wrapper">
                        <img src="assets/1.jpg">
                    </div>
                    <div class="image_wrapper">
                        <img src="assets/2.jpg">
                    </div>
                    <div class="image_wrapper">
                        <img src="assets/3.jpg">
                    </div>
                    <div class="image_wrapper">
                        <img src="assets/1.jpg">
                    </div>
                    <div class="image_wrapper">
                        <img src="assets/2.jpg">
                    </div>
                    <div class="image_wrapper">
                        <img src="assets/3.jpg">
                    </div>
                    <div class="image_wrapper">
                        <img src="assets/1.jpg">
                    </div>
                    <div class="image_wrapper">
                        <img src="assets/2.jpg">
                    </div>
                    <div class="image_wrapper">
                        <img src="assets/3.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>