<div mat-dialog-content>
  <div [formGroup]="form" *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field >
      <input placeholder="Nombre" matInput formControlName="name"/>
  </mat-form-field>
    <mat-form-field >
      <input placeholder="Cuantía" matInput formControlName="amount"/>
    </mat-form-field>
   
</div>
<ng-template #elseTemplate>
  ¿Seguro que quieres borrar <b>{{activityPrice.name}}</b>?
</ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
